@{
    ViewData["Title"] = "Контакты";
}

<div class="container my-5">
    <h1>Контакты</h1>
    <p>Свяжитесь с нами: <a href="mailto:support@atelierhub.com">support@atelierhub.com</a></p>
    <p>Телефон: +7 (777) 123-45-67</p>
</div>