@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<div class="text-center">
    <h1 class="display-4">@Localizer["WelcomeMessage"]</h1>
    <p class="lead">@Localizer["FindMasters"]</p>
    <a class="btn btn-primary btn-lg mt-3" asp-controller="Masters" asp-action="Index">@Localizer["Masters"]</a>
</div>